menu "Configuracion propia"
    config PRINT_MALLOC_INFO
        bool "Print malloc output"
        default yes
        help
        print malloc info
    config FREE_APP_MEMOYRY
        bool "Free memory after malloc"
        default yes
        help
        call free after malloc every iteration
endmenu