menu "Configuration for sensors"
    config SAMPLE_FREQ
        int "Time frequency between readings"
        default 10000
        help
        Set the time frequency in millis among sensor readings

    config N_SAMPLES
        int "Number of samples per reading"
        default 5
        help
        Set the number of samples taken per reading
endmenu
menu "Quality Air Sensor"
    config I2C_MASTER_SDA
        int "SDA GPIO Num"
        default 21 
        help
            GPIO number for I2C Master data line.

    config I2C_MASTER_SCL
        int "SCL GPIO Num"
        default 22 
        help
            GPIO number for I2C Master clock line.
endmenu